<div class="topbar" >
  <nav class="menu">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <label class="logo">Covid-19</label>
    <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Cadastrar Atendimento</a></li>
        <li><a href="#">Visualizar Atendimento</a></li>
        <li><a href="#">Visualizar Unidades</a></li>
    </ul>
  </nav>
  <section>
    <h1>Conteúdo</h1>
  </section>
</div>
  