.titulo {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 25px;
    font-style: italic;
    font-weight: 50px;
    color: rgb(69, 78, 88);
    margin-left: -3px;
}

.btn {
    background-color: rgb(92, 155, 238);
    border: none;
    margin-left: -10px;
}

form {
    margin-left: 0px;
    padding-left: 0px;
}

#nome {
    margin-left: -3px;
}

#idade {
    margin-left: -4px;
}

#bairro {
    margin-left: 4px;
}
