.paglogin {
    text-align: center;
    background-image: url('/assets/img/covid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 200px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
