.paglogin {
    text-align: center;
    background-image: url('/assets/img/covid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 200px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 5em;
    text-shadow: 3px 5px black;
    margin-top: -130px;
}

h2 {
    color: white;
    text-shadow: 3px 0px black;
    font-size: 20px;
    font-style: italic;
    margin-top: -24px;
}

.login {
    margin-top: 80px;
    color: white;
    text-shadow: 3px 0px black;
}   

