.paglogin {
    text-align: center;
    background-image: url('/assets/img/covid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 200px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    color: white;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 5em;
    text-shadow: 3px 5px black;
    margin-top: -130px;
}

h2 {
    color: white;
    text-shadow: 3px 0px black;
    font-size: 20px;
    font-style: italic;
    margin-top: -59px;
}

label {
    margin-bottom: 10px;
}

.login {
    margin-top: 140px;
    color: white;
    text-shadow: 3px 0px black;
}   

#email {
    margin-bottom: 10px;
}

//Responsividade Tablet
@media (max-width: 952px) { 
    .paglogin {
        font-size: 30px;
        text-align: center;
        padding-left: 50px;
        width: 100%;
        height: 100%;
        padding: 68px; 
        margin-left: -110px;
    }
    .login {
        margin-right: -116px;
        margin-top: -77px;
    }
    div h1 {
        margin-right: -90px;
        padding: 120px;
        font-size: 5em;
        margin-top: -77px;
    }
    div h2 {
        margin-right: -130px;
        margin-top: 300px;
        padding: 130px;
    }
}

//Responsividade Smartphone
@media (max-width: 858px) {
    div h1 {
        margin-top: -90px;
        font-size: 52px;
        padding: 150px;
        margin-right: -120px;
    }
    div h2 {
        font-size: 20px;
        margin-top: -245px;
        padding: 55px;
    }
    .paglogin {
        text-align: center;
        margin-top: -89px;
    }
    .login{
        text-align: center;
        padding: 68px;
        margin-top: -40px;
        font-size: 20px;
    }
}
